.header {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background-color: #ffffff;
}

.logo {
  width: 50px;
  height: auto;
  margin-left: 1rem;
}

.brand-title {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}

.user-dropdown {
  color: #000;
}

.edit-header {
  box-shadow: 0px 1px 0px 0px rgba(224,224,224,1); 
  height: 60px;
}
.al-text-color {
  color: #513F83;
  font-weight: bold;
}